@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="add-product-form">
    <h2>Add Product</h2>

    <form method="post">
        <input type="text" name="ProductName" placeholder="Enter product name" required />
        <input type="text" name="ProductQuantity" placeholder="Enter product quantity" />
        <input type="text" name="ProductLocation" placeholder="Enter product location" />
        <button type="submit">Add</button>
    </form>
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <p style="color:green">@Model.Message</p>
    }
</div>


<div class="search-product-form">
    <h2>Search Products</h2>

    <form method="get">
        <input type="text" name="SearchProduct" value="@Model.SearchProduct" placeholder="Search product" />
        <button type="submit">Search</button>
    </form>
</div>

<div class="text-center">
    <h2>Product List</h2>
    <table>
    @if (Model.Products != null && Model.Products.Any())
    {
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Location</th>
            <th></th>
        </tr>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Quantity</td>
                <td>@product.Location</td>
                <td>
                    <form method="post">
                        <button type="submit" asp-page-handler="Delete" name="id" value="@product.Id">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    }
    else
    {
        <p>No products found.</p>
    }
    </table>
</div>
